## Carregar Bibliotecas

In [2]:
import pandas as pd
import numpy as np
import datetime as dtt
import gc
from datar import f
from datar.all import *
import random

In [2]:
pd.options.display.min_rows    =  15
pd.options.display.max_rows    =  20
pd.options.display.max_columns =  35
pd.options.display.width       = 150

## Base de Dados

##### CARS

In [63]:
CARS = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/CARS_1.csv")
CARS

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
,<object>,<int64>,<object>,<int64>,<int64>,<float64>,<object>,<float64>,<object>,<float64>,<int64>,<int64>,<float64>,<int64>,<float64>,<int64>
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500
198,Mercedes-Benz AMG A 45 S,35,Petrol,1991,4,5.0,Automatic,0.0,Hatchback,4.5,659000,999000,500.0,5250,415.71,6750
199,BMW 3 Series Gran Limousine,3,Petrol,1998,4,5.0,Automatic,59.0,Sedan,4.5,1041000,1041000,400.0,4400,254.79,5000
200,MG Hector Plus,2,Diesel,1956,4,7.0,Manual,60.0,SUV,4.5,1615000,2075000,350.0,2500,167.67,3750
201,Audi RS Q8,9,Petrol,3998,8,5.0,Automatic,85.0,SUV,3.5,21700000,21700000,800.0,4500,591.39,6000
202,Maruti Alto 800 tour,4,Petrol,796,3,5.0,Manual,35.0,Hatchback,4.5,391000,397000,69.0,3500,47.33,6000

##### kc_home

In [ ]:
kc_house_data = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/kc_house_data.csv")
kc_house_data

##### hotel_booking

In [ ]:
hotel_bookings = pd.read_csv( "C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/hotel_bookings.csv" )
hotel_bookings

In [7]:
pd.unique(hotel_bookings['children'])

array([ 0.,  1.,  2., 10.,  3., nan])

##### diamonds

In [ ]:
diamonds = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Projetos_Pessoais/Canal_Youtube/Base_Dados/diamonds.csv")
diamonds

##### Vendas_PBI

In [ ]:
Vendas_PBI = pd.read_excel("C:/Users/danil/OneDrive/Danilo_Back-up/Projetos_Pessoais/Canal_Youtube/Base_Dados/Vendas_PBI.xlsx")
Vendas_PBI

In [ ]:
sort(
    Vendas_PBI
        .groupby('Country')
        .agg(
            {
                'Sales' : 'sum',
                'COGS'  : 'sum'
            }
        ),
    desc
)

In [8]:
sort(
    Vendas_PBI.groupby('Segment')['Sales'].agg(
        Sales = 'sum'
    ),
    desc
)

                        Sales

Segment             <float64>
Channel Partners  52504260.68
Enterprise        42427918.50
Government        19611694.38
Midmarket          2381883.09
Small Business     1800593.64

In [66]:
a = [1,2,3]
f"{a: .2%}"

TypeError: unsupported format string passed to list.__format__

In [81]:
Profit_Products = Vendas_PBI.groupby(
        'Product'
    ).agg({
        'Sales' : 'sum',
        'COGS'  : 'sum',
        'Profit': 'sum'
    })
    
Profit_Products = Profit_Products.assign(
    Profit2 = Profit_Products['Profit'] / Profit_Products['Sales']
)

Profit_Products.assign(
    Profit2 = round( Profit_Products['Profit2'] * 100, 2 ).astype(str) + '%'
)

                 Sales        COGS      Profit  Profit2

Product      <float64>   <float64>   <float64> <object>
Amarilla   17747116.07  14933012.0  2814104.07   15.86%
Carretera  13815307.89  11988503.0  1826804.89   13.22%
Montana    15390801.88  13276047.0  2114754.88   13.74%
Paseo      33011143.96  28213706.0  4797437.96   14.53%
VTT        20511921.02  17477313.0  3034608.02   14.79%
Velo       18250059.47  15944067.0  2305992.47   12.64%

Ctas_a_Receber

In [ ]:
Ctas_Receber_DB = pd.read_excel("C:/Users/danil/OneDrive/Danilo_Back-up/Projetos_Pessoais/Canal_Youtube/Base_Dados/Ctas_Receber_DB.xlsx")
Ctas_Receber_DB

## Análises

#### Dimensão dos Dados

##### Escalar

In [5]:
CARS[0:1]['car_name'][0]

'Maruti Alto K10'

In [7]:
CARS[0:1]['car_name'].item()

'Maruti Alto K10'

In [8]:
CARS['car_name'][0]

'Maruti Alto K10'

In [9]:
np.array( CARS[['car_name']] )[0][0]

'Maruti Alto K10'

In [14]:
pd.array( CARS[['car_name']] )[0][0]

"['Maruti Alto K10']"

In [15]:
select(CARS, 'car_name').iloc[0].item()

'Maruti Alto K10'

In [16]:
sort( select(CARS, 'car_name') ).iloc[0].item()

'Aston Martin DBX'

In [17]:
CARS.columns.get_loc('fuel_type')

2

In [18]:
CARS.iloc[ 0, CARS.columns.get_loc('fuel_type') ]

'Petrol'

In [19]:
length( CARS['car_name'].unique() )

199

In [20]:
length( pd.unique( CARS['car_name'] ) )

199

In [22]:
min( CARS['fuel_tank_capacity'] )

0.0

##### Vetor

In [24]:
np.array( [1,2,3] )

array([1, 2, 3])

In [23]:
CARS['car_name'][0:5]

0       Maruti Alto K10
1         Maruti Brezza
2         Mahindra Thar
3       Mahindra XUV700
4    Mahindra Scorpio-N
Name: car_name, dtype: object

In [25]:
pd.array( CARS['car_name'][0:5] )

<PandasArray>
['Maruti Alto K10', 'Maruti Brezza', 'Mahindra Thar', 'Mahindra XUV700', 'Mahindra Scorpio-N']
Length: 5, dtype: object

In [26]:
np.array( CARS['car_name'][0:5] )

array(['Maruti Alto K10', 'Maruti Brezza', 'Mahindra Thar',
       'Mahindra XUV700', 'Mahindra Scorpio-N'], dtype=object)

In [27]:
sort( CARS['car_name'] )[0:5]

0        Aston Martin DBX
1    Aston Martin Vantage
2                 Audi A4
3                 Audi A6
4                 Audi Q2
Name: x, dtype: object

In [28]:
sort( np.array( CARS['car_name'] ) )[0:5]

array(['Aston Martin DBX', 'Aston Martin Vantage', 'Audi A4', 'Audi A6',
       'Audi Q2'], dtype=object)

##### Tabela

###### array / matrix

In [29]:
np.array(
    [
        [ 1 , 2 , 3 ],
        ['a','b','c']
    ]
)

array([['1', '2', '3'],
       ['a', 'b', 'c']], dtype='<U11')

In [30]:
np.array( CARS[ ['car_name', 'fuel_type', 'fuel_tank_capacity'] ][0:4] )

array([['Maruti Alto K10', 'Petrol', 27.0],
       ['Maruti Brezza', 'Petrol', 48.0],
       ['Mahindra Thar', 'Diesel', 57.0],
       ['Mahindra XUV700', 'Diesel', 60.0]], dtype=object)

###### Dataframe

In [31]:
CARS[ ['car_name', 'fuel_type', 'fuel_tank_capacity'] ][0:4]

          car_name fuel_type  fuel_tank_capacity
          <object>  <object>           <float64>
0  Maruti Alto K10    Petrol                27.0
1    Maruti Brezza    Petrol                48.0
2    Mahindra Thar    Diesel                57.0
3  Mahindra XUV700    Diesel                60.0

In [32]:
select( CARS[0:4], ['car_name', 'fuel_type', 'fuel_tank_capacity'] )

          car_name fuel_type  fuel_tank_capacity
          <object>  <object>           <float64>
0  Maruti Alto K10    Petrol                27.0
1    Maruti Brezza    Petrol                48.0
2    Mahindra Thar    Diesel                57.0
3  Mahindra XUV700    Diesel                60.0

In [33]:
pd.DataFrame(
    {
        'car_name'          : CARS['car_name'][0:4],
        'fuel_type'         : CARS['fuel_type'][0:4],
        'fuel_tank_capacity': CARS['fuel_tank_capacity'][0:4]
    }
)

          car_name fuel_type  fuel_tank_capacity
          <object>  <object>           <float64>
0  Maruti Alto K10    Petrol                27.0
1    Maruti Brezza    Petrol                48.0
2    Mahindra Thar    Diesel                57.0
3  Mahindra XUV700    Diesel                60.0

#### Tipos de Dados

##### Número

Escalar

In [69]:
print( 
    1,       " -> ", type( 1 ),     "\n",
    1.0,     " -> ", type( 1.0 ),   "\n",
    1 + 1,   " -> ", type( 1 + 1 ), "\n",
    2 * 2,   " -> ", type( 2 * 2 ), "\n",
    2 * 2.0, " -> ", type( 2 * 2.0 ) 
)

1  ->  <class 'int'>
 1.0  ->  <class 'float'>
 2  ->  <class 'int'>
 4  ->  <class 'int'>
 4.0  ->  <class 'float'>

In [70]:
print( 
    2 / 2,   " -> ", type( 2 / 2 ), "\n",
    1.0 + 1, " -> ", type( 1.0 + 1 ) 
)

1.0  ->  <class 'float'>
 2.0  ->  <class 'float'>

Vetor

In [76]:
n1 = [1  , 2  , 3  ] ;
n2 = [1.0, 2.0, 3.0] ;
n3 = [1.0, 2  , 3  ] ;

In [77]:
print(
    n1, " -> ", type(n1), "\n",
    n2, " -> ", type(n2), "\n",
    n3, " -> ", type(n3), "\n",
    n1 * 1, " -> ", type(n1 * 1)
)

[1, 2, 3]  ->  <class 'list'>
 [1.0, 2.0, 3.0]  ->  <class 'list'>
 [1.0, 2, 3]  ->  <class 'list'>
 [1, 2, 3]  ->  <class 'list'>

In [78]:
TesteDF = pd.DataFrame({
    'Vetor' : [1.0, 2, 3, np.NaN ],
})

TesteDF['Type'] = type( TesteDF['Vetor'][index] )

TesteDF['Type2'] = type( TesteDF['Type'] )

TesteDF

NameError: name 'index' is not defined

In [100]:
Vetor = [1.0, 2, 3, np.NaN, as_date("2022-01-01"), dtt.date(2022, 1, 1) ]

for Index in range( 0, len(Vetor) ):
    print( type(Vetor[Index]) )

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'datetime.date'>

##### Texto

##### Data

In [102]:
print(
    dtt.date( 2022, 1, 1 ) + relativedelta( day  = 1 ) + relativedelta( month  = 2 ), "\n",
    dtt.date( 2022, 1, 1 ) + relativedelta( days = 1 ) + relativedelta( months = 2 )
)

2022-02-01
 2022-03-02

In [ ]:
dtt.date( 1970, 1, 1 ) + relativedelta( days = 1 )

##### Lógico

In [108]:
print(
    True, TRUE, "\n",
    type(True), type(TRUE), "\n", "\n",
    False, FALSE, "\n",
    type(False), type(FALSE)
)

True True
 <class 'bool'> <class 'bool'>

 False False
 <class 'bool'> <class 'bool'>

##### Vazio

In [112]:
print(
    NaN, "\n",
    np.NaN, "\n",
    NaN == np.NaN
)

nan
 nan
 False

In [5]:
np.NaN + 1

nan

In [6]:
NaN + 1

nan

In [132]:
NaN is np.NaN

True

In [155]:
type( dtt.date(2022, 1, 1) )

datetime.date

In [156]:
DF_Vazio = pd.DataFrame({
    'Vazio': [NaN, "a", dtt.date(2022, 1, 1), 1, 1.0, np.NaN]
})

DF_Vazio.assign(
    Type = [type(i) for i in DF_Vazio['Vazio']]
)

        Vazio                     Type
     <object>                 <object>
0         NaN          <class 'float'>
1           a            <class 'str'>
2  2022-01-01  <class 'datetime.date'>
3           1            <class 'int'>
4         1.0          <class 'float'>
5         NaN          <class 'float'>

In [8]:
"casa" / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [6]:
TRUE + 1

2

In [143]:
print(
    pd.to_datetime('2023-01-01'),type( pd.to_datetime('2023-01-01') ), "\n",
    np.datetime64('2023-01-01'), type( np.datetime64('2023-01-01') ), "\n",
    dtt.date(2023, 1, 1),        type( dtt.date(2023, 1, 1) )
)

2023-01-01 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
 2023-01-01 <class 'numpy.datetime64'>
 2023-01-01 <class 'datetime.date'>

In [145]:
pd.to_datetime('2023-01-01') + 1

TypeError: Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [110]:
pd.to_datetime('2023-01-01') + pd.Timedelta( 1, 'D' ) + pd.DateOffset( months = 1 )

Timestamp('2023-02-02 00:00:00')

In [106]:
np.datetime64('2023-01-01') + 1

numpy.datetime64('2023-01-02')

In [ ]:
dtt.date(2023, 1, 1) + 1

In [33]:
dtt.date(2023, 1, 1) + dtt.timedelta( 10 )

datetime.date(2023, 1, 11)

In [39]:
[dtt.date(2023, 1, 1),dtt.date(2023, 1, 2),dtt.date(2023, 1, 3),dtt.date(2023, 1, 4)]

[datetime.date(2023, 1, 1),
 datetime.date(2023, 1, 2),
 datetime.date(2023, 1, 3),
 datetime.date(2023, 1, 4)]

In [37]:
np.datetime64(['2023-01-01','2023-01-02','2023-01-03','2023-01-04'])

ValueError: Could not convert object to NumPy datetime

In [113]:
pd.to_datetime(['2023-01-01','2023-01-02','2023-01-03','2023-01-04'])

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'], dtype='datetime64[ns]', freq=None)

In [114]:
pd.to_datetime(['2023-01-01','2023-01-02','2023-01-03','2023-01-04', np.NaN])

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', 'NaT'], dtype='datetime64[ns]', freq=None)

In [154]:
Tipos_de_Dados = pd.DataFrame({
    'Texto'   : ["a", "b", "c", "d", "e"],
    'Texto_'  : ["a", "b", "c", "d", NaN],

    'Número_Int'  : [1, 2, 3, 4, 5],
    'Número_Int_' : [1, 2, 3, 4, NaN],

    'Número_Virg'  : [1.0, 2.0, 3.0, 4.0, 5.0],
    'Número_Virg_' : [1.0, 2.0, 3.0, 4.0, NaN],

    'Data'    : pd.to_datetime(["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"]),
    'Data_'   : pd.to_datetime(["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", NaN]),

    'Lógico'  : [TRUE, FALSE, TRUE, FALSE, TRUE],
    'Lógico_' : [TRUE, FALSE, TRUE, FALSE, NaN]
})
Tipos_de_Dados

     Texto   Texto_  Número_Int  Número_Int_  Número_Virg  Número_Virg_             Data            Data_  Lógico  Lógico_
  <object> <object>     <int64>    <float64>    <float64>     <float64> <datetime64[ns]> <datetime64[ns]>  <bool> <object>
0        a        a           1          1.0          1.0           1.0       2023-01-01       2023-01-01    True     True
1        b        b           2          2.0          2.0           2.0       2023-01-02       2023-01-02   False    False
2        c        c           3          3.0          3.0           3.0       2023-01-03       2023-01-03    True     True
3        d        d           4          4.0          4.0           4.0       2023-01-04       2023-01-04   False    False
4        e      NaN           5          NaN          5.0           NaN       2023-01-05              NaT    True      NaN

In [155]:
Tipos_de_Dados['Número_Int'] == Tipos_de_Dados['Número_Int_']

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [156]:
[1, 2, 3, NaN] == [1, 2, 3, 4]

False

In [160]:
np.array([1, 2, 3, NaN]) == np.array([1, 2, 3, 4])

array([ True,  True,  True, False])

In [44]:
np.int64( np.datetime64('2023-01-01') )

19358

In [77]:
pd.to_datetime('2023-01-01').value / 1_000_000_000 / 60 / 60 / 24

19358.0

In [27]:
(dtt.date(2023, 1, 1 ) - dtt.date(1970, 1, 1 )).days

19358

In [28]:
print(
    pd.to_datetime('2023-01-01').value / 1_000_000_000 / 60 / 60 / 24,  "\n",
    np.int64( np.datetime64('2023-01-01') ),                            "\n",
    (dtt.date(2023, 1, 1 ) - dtt.date(1970, 1, 1 )).days
)

19358.0
 19358
 19358

## Base Olist Brasil

In [2]:
olist_geolocation = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/Brasilian_Ecommerce_Olist/olist_geolocation_dataset.csv")
olist_geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
,<int64>,<float64>,<float64>,<object>,<object>
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
...,...,...,...,...,...
4,1035,-23.541578,-46.641607,sao paulo,SP
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [7]:
olist_geolocation_zip_code = unique(olist_geolocation['geolocation_zip_code_prefix'])
olist_geolocation_zip_code = olist_geolocation_zip_code.astype(str)

numpy.str_

In [14]:
olist_geolocation_zip_code2 = np.array([]).astype(str)

for i in range(0, length(olist_geolocation_zip_code), 1):
    olist_geolocation_zip_code2 = append(olist_geolocation_zip_code2, olist_geolocation_zip_code[i].zfill(5))

In [15]:
olist_geolocation_zip_code2

array(['01037', '01046', '01041', ..., '99910', '99920', '99952'],
      dtype='<U32')

## Rascunho

#### Ler texto de PDF

In [1]:
import easyocr

In [ ]:
reader = easyocr.Reader(['pt'])
results = reader.readtext('C:/Users/danil/Desktop/Scanner_20221116 (2).png')

In [ ]:
text = []
for result in range( 11, len(pd.DataFrame(results)[0:500][1]) ):
    print( pd.DataFrame(results)[0:500][1][result] )

In [ ]:
pd.DataFrame(results)[0:500][1][146]

In [ ]:
CARS.loc[
    CARS['no_cylinder'] > 10,                 # Filtro de Linhas
    ['car_name', 'fuel_type', 'no_cylinder']  # Filtro de Colunas
]

In [2]:
import ipywidgets as wg
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline

In [5]:
name = wg.Text (value = 'Name')
age = wg.IntSlider (description = 'Age: ')
box = wg.Box()
display (name, age, box)
print (name.value + ' is already '+ str (age.value) + ' now ')

Text(value='Name')

IntSlider(value=0, description='Age: ')

Box()

Name is already 0 now

#### <h2 style="font-family:impact; background-color:#3C2A21; color:#D5CEA3; text-align:center">Endereço a partir do CEP</h2>

In [50]:
from pycep_correios import get_address_from_cep, WebService
import numpy as np
import pandas as pd

In [48]:
address = get_address_from_cep('37503-130', webservice=WebService.APICEP)

In [52]:
address = get_address_from_cep('09790-000', webservice=WebService.APICEP)

In [46]:
pd.DataFrame({
    'keys'   : list(address.keys()),
    'values' : list(address.values())
})

          keys                  values
0       bairro           Santo Antônio
1          cep               37503-130
2       cidade                 Itajubá
3   logradouro  Rua Geraldino Campista
4           uf                      MG
5  complemento

In [ ]:
address = get_address_from_cep('37503-130', webservice=WebService.VIACEP)

In [ ]:
address = get_address_from_cep('37503-130', webservice=WebService.CORREIOS)

#### <h2 style="font-family:impact; background-color:#3C2A21; color:#D5CEA3; text-align:center">Lat e Long a partir do ENDEREÇO</h2>

In [41]:
import requests
import urllib.parse

address = 'Shivaji Nagar, Bangalore, KA 560001'
url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

response = requests.get(url).json()
print(response[0]["lat"])
print(response[0]["lon"])

12.9801559
77.6023714

In [42]:
from geopy.geocoders import Nominatim

In [53]:
app = Nominatim(user_agent="tutorial")

In [89]:
location = app.geocode("SP, Franca").raw

In [ ]:
location

In [90]:
print(
location['lat'],
location['lon']
)

-20.5381768 -47.4009795

## <h1 style="font-family:impact; background-color:#3C2A21; color:#D5CEA3; text-align:center">Teste de Velocidade</h1>

In [32]:
lat1 = np.array([])
lat2 = np.array([])
lon1 = np.array([])
lon2 = np.array([])

for x in range(0, 200_000, 1):
    lat1 = np.append( lat1, (random.random() * 120) - 60 )
    lat2 = np.append( lat2, (random.random() * 120) - 60 )
    lon1 = np.append( lon1, (random.random() * 240) -120 )
    lon2 = np.append( lon2, (random.random() * 240) -120 )
# end

teste = pd.DataFrame({
    'lat_1' : lat1,
    'lat_2' : lat2,
    'lon_1' : lon1,
    'lon_2' : lon2,
    'distancia' : 2 * 6378.1 * np.arcsin( 
        np.sqrt( np.abs(
            sin( ( np.radians(lat1) - np.radians(lat2) ) / 2 )**2 +
            cos( np.radians(lon1) ) * cos( np.radians(lon2) ) *
            sin( ( np.radians(lon1) - np.radians(lon2) ) / 2 )**2
        ) )
    )
})
teste
gc.collect()

0

In [ ]:
t100000 = [19.6, 15.8]

t200000 = [4m 38.7]

## <h1 style="font-family:impact; background-color:#3C2A21; color:#D5CEA3; text-align:center">Matemática Financeira</h1>

In [26]:
import pandas as pd
import numpy as np
import datetime as dtt
from datar import f
from datar.all import *

<font size = 6 style="font-family:consolas"><b>Fómulas Financeiras</b></font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ FV = PV \times (1 + i)^n$</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ PV = \frac{FV}{(1 + i)^n}$</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ i\ =\ (\frac{FV}{PV})^{\frac{1}{n}} -1$</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ n\ =\ \frac{log_{(1+i)}}{log_{\frac{FV}{PV}}}$</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ PMT\ =\ PV\ \times\ \frac{i}{1 - (1 + i)^{-n}}$</font><br><br>
<a href="https://pt.wikipedia.org/wiki/Tabela_Price"><font style="font-family:consolas; color:pink">Wikipedia: Tabela PRICE</font></a><br>
<a href="https://pt.wikipedia.org/wiki/Sistema_de_amortiza%C3%A7%C3%A3o_constante"><font style="font-family:consolas; color:pink">Wikipedia: Tabela SAC</font></a>

In [ ]:
Cadastro = pd.read_excel(
    "C:/Users/danil/OneDrive/Danilo_Back-up/Projetos_Pessoais/Canal_Youtube/Excel/Matematica_Financeira.xlsx", 
    sheet_name = "Cadastro"
)
Cadastro[Cadastro['Modelo'] == "PRICE"][0:5]

##### <p style="font-family:consolas; background-color:#3C2A21"><font size=6><b>Modelo PRICE</b></font></p>

<font size=5 style = "font-family: impact; color:lightblue">Estratégia</font>
<p style = "font-family: consolas">
1. Gerar valores iniciais de cada variável (primeira parcela)<br>
2. Gerar valores a partir da segunda linha (da segunda a última parcela)<br>
3. Armazenar vetor do contrato<br>
4. Armazenar vetores de cada contrato<br>
5. Gerar Tabela com vetores armazenados
</p>

In [65]:
Contrato__  = [0]
Parcela__   = [0]
Data_Venc__ = [Cadastro['Data_Emissao'][0]]
PMT__       = [0.0]
Juros__     = [0.0]
Amort__     = [0.0]
PV_atual__  = [0.0]


for _cadastro_ in range(0, length(Cadastro[ Cadastro['Modelo'] == "PRICE" ]['Contrato']), 1):

    # 1. Gerar valores iniciais de cada variável (primeira parcela)
    Data_Emi   =  list( Cadastro['Data_Emissao'][ Cadastro['Modelo'] == "PRICE" ] )[_cadastro_]
    Contrato   = [list( Cadastro['Contrato'    ][ Cadastro['Modelo'] == "PRICE" ] )[_cadastro_]]
    PV         = [list( Cadastro['Principal'   ][ Cadastro['Modelo'] == "PRICE" ] )[_cadastro_]]
    n          = [list( Cadastro['Parcelas'    ][ Cadastro['Modelo'] == "PRICE" ] )[_cadastro_]]
    i_am       =  list( Cadastro['Taxa_am'     ][ Cadastro['Modelo'] == "PRICE" ] )[_cadastro_]
    Data_Venc  = [
        if_else(
            pd.Timestamp.weekday(Data_Emi + pd.DateOffset(months = 1)) == 5,
            Data_Emi + pd.DateOffset(months = 1) + pd.DateOffset(days = 2),
            if_else(
                pd.Timestamp.weekday(Data_Emi + pd.DateOffset(months = 1)) == 6,
                Data_Emi + pd.DateOffset(months = 1) + pd.DateOffset(days = 1),
                Data_Emi + pd.DateOffset(months = 1)
            )
        )[0]
    ]
    i_ad       = ((1 + i_am) / 1)**(1/(365.25/12)) -1
    PMT        = round( [ PV[0] * i_am / (1 - (1 + i_am)**(-n[0])) ], 2 )
    Juros      = [PV[0] * (1 + i_ad)**((Data_Venc[0] - Data_Emi).days) - PV[0]]
    Amort      = [PMT[0] - Juros[0]]
    PV_atual   = [PV[0], PV[0] - Amort[0]]
    PV_atual2  = [PV[0] - Amort[0]]
    Parcela    = [1]
    
    # 2. Gerar valores a partir da segunda linha (até a última parcela)
    # 3. Armazenar vetor do contrato
    for _indice_ in range(1, n[0], 1):
        Contrato    = append(Contrato,  Contrato[_indice_ -1])
        Parcela     = append(Parcela,   _indice_ +1)
        Data_Venc   = append(
            Data_Venc, 
            if_else(
                pd.Timestamp.weekday( Data_Emi + pd.DateOffset(months = _indice_ +1)) == 5,
                Data_Emi + pd.DateOffset(months = _indice_ +1) + pd.DateOffset(days = 2),
                if_else(
                    pd.Timestamp.weekday( Data_Emi + pd.DateOffset(months = _indice_ +1)) == 6,
                    Data_Emi + pd.DateOffset(months = _indice_ +1) + pd.DateOffset(days = 1),
                    Data_Emi + pd.DateOffset(months = _indice_ +1)
                )
            )[0]
        )
        PMT         = append(PMT,       PMT[_indice_ -1])
        Juros       = append(
            Juros, 
            PV_atual[_indice_] * (1 + i_ad)**((Data_Venc[_indice_] - Data_Venc[_indice_ -1]).days) - PV_atual[_indice_]
        )
        Amort       = append(Amort,     PMT[_indice_]      - Juros[_indice_])
        PV_atual    = append(PV_atual,  PV_atual[_indice_] - Amort[_indice_])
        PV_atual2   = append(PV_atual2, PV_atual[_indice_] - Amort[_indice_])
    
    # 4. Armazenar vetores de cada contrato
    Contrato__  = append(Contrato__,  Contrato)
    Parcela__   = append(Parcela__,   Parcela)
    Data_Venc__ = append(Data_Venc__, Data_Venc)
    PMT__       = append(PMT__,       PMT)
    Juros__     = append(Juros__,     Juros)
    Amort__     = append(Amort__,     Amort)
    PV_atual__  = append(PV_atual__,  PV_atual2)


# 5. Gerar Tabela com vetores armazenados
Tabelas_PRICE = pd.DataFrame({
    'Contrato' : Contrato__[1:],
    'Parcela'  : Parcela__[1:],
    'Data_Venc': Data_Venc__[1:],
    'PMT'      : PMT__[1:],
    'Juros'    : Juros__[1:].round(2),
    'Amort'    : Amort__[1:].round(2),
    'PV_atual' : PV_atual__[1:].round(2)
})

<p style="font-family:consolas; background-color:#3C2A21"><font size=6><b>Modelo SAC</b></font></p>

<font size=5 style = "font-family: impact; color:lightblue">Estratégia</font>
<p style = "font-family: consolas">
1. Gerar tabela de cada contrato<br>
2. Armazenar cada tabela gerada
</p>

In [145]:
Tabela_SAC = pd.DataFrame([])
Cadastro_SAC = Cadastro[ Cadastro['Modelo'] == "SAC" ]

for _contrato_ in range(0, length(Cadastro['Modelo'][Cadastro['Modelo'] == "SAC"]), 1):

    i_ad = ((1 + list(Cadastro_SAC['Taxa_am'])[_contrato_]) / 1)**(1/(365.25/12)) -1
    
    # 1. Gerar tabela de cada contrato
    Tabela_SAC__ = pd.DataFrame({
        'Contrato'      : list(Cadastro_SAC['Contrato'])[_contrato_],
        'Parcela'       : list( range(1, list(Cadastro_SAC['Parcelas'])[_contrato_] +1, 1) ),
        'Data_Venc_ant' : pd.date_range(
            start   = list(Cadastro_SAC['Data_Emissao'])[_contrato_] - pd.Timedelta(days = list(Cadastro_SAC['Data_Emissao'])[_contrato_].day), 
            periods = list(Cadastro_SAC['Parcelas'])[_contrato_], freq = 'M'
        ) + pd.Timedelta(days = list(Cadastro_SAC['Data_Emissao'])[_contrato_].day),
        'Data_Venc'     : pd.date_range(
            start   = list(Cadastro_SAC['Data_Emissao'])[_contrato_], 
            periods = list(Cadastro_SAC['Parcelas'])[_contrato_], freq = 'M'
        ) + pd.Timedelta(days = list(Cadastro_SAC['Data_Emissao'])[_contrato_].day),
        'PV_ant'        : list(Cadastro_SAC['Principal'])[_contrato_],
        'Amort'         : list(Cadastro_SAC['Principal'])[_contrato_] / list(Cadastro_SAC['Parcelas'])[_contrato_]
    })
    Tabela_SAC__ = Tabela_SAC__.assign(
        Juros = round( 
            Tabela_SAC__['PV_ant'] * (1 + i_ad)**(( Tabela_SAC__['Data_Venc'] - Tabela_SAC__['Data_Venc_ant'] ).dt.days),
            2 
        ) - list(Cadastro_SAC['Principal'])[_contrato_]
    )
    Tabela_SAC__ = Tabela_SAC__.assign(
        PMT      = round( Tabela_SAC__['Amort'] + Tabela_SAC__['Juros'], 2 ),
        PV_atual = round(Tabela_SAC__['PV_ant'] - Tabela_SAC__['Amort'] * Tabela_SAC__['Parcela'], 2),
        Amort    = Tabela_SAC__['Amort'].round(2)
    )
    
    # 2. Armazenar cada tabela gerada
    Tabela_SAC = pd.concat([ 
        Tabela_SAC, 
        Tabela_SAC__[ ['Contrato', 'Parcela', 'Data_Venc', 'PMT', 'Juros', 'Amort', 'PV_atual'] ] 
    ])