## <font style="font-family:impact">Carregar Bibliotecas</font>

In [2]:
import pandas as pd
import numpy as np
import datetime as dtt
import gc
from datar import f
from datar.all import *
import random

In [2]:
pd.options.display.min_rows    =  15
pd.options.display.max_rows    =  20
pd.options.display.max_columns =  35
pd.options.display.width       = 150

## <font style="font-family:impact">Base de Dados</font>

##### CARS

In [3]:
CARS = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/CARS_1.csv")
CARS

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
,<object>,<int64>,<object>,<int64>,<int64>,<float64>,<object>,<float64>,<object>,<float64>,<int64>,<int64>,<float64>,<int64>,<float64>,<int64>
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500
198,Mercedes-Benz AMG A 45 S,35,Petrol,1991,4,5.0,Automatic,0.0,Hatchback,4.5,659000,999000,500.0,5250,415.71,6750
199,BMW 3 Series Gran Limousine,3,Petrol,1998,4,5.0,Automatic,59.0,Sedan,4.5,1041000,1041000,400.0,4400,254.79,5000
200,MG Hector Plus,2,Diesel,1956,4,7.0,Manual,60.0,SUV,4.5,1615000,2075000,350.0,2500,167.67,3750
201,Audi RS Q8,9,Petrol,3998,8,5.0,Automatic,85.0,SUV,3.5,21700000,21700000,800.0,4500,591.39,6000
202,Maruti Alto 800 tour,4,Petrol,796,3,5.0,Manual,35.0,Hatchback,4.5,391000,397000,69.0,3500,47.33,6000

##### kc_home

In [ ]:
kc_house_data = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/kc_house_data.csv")
kc_house_data

##### hotel_booking

In [ ]:
hotel_bookings = pd.read_csv( "C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/hotel_bookings.csv" )
hotel_bookings

In [7]:
pd.unique(hotel_bookings['children'])

array([ 0.,  1.,  2., 10.,  3., nan])

##### diamonds

In [ ]:
diamonds = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Projetos_Pessoais/Canal_Youtube/Base_Dados/diamonds.csv")
diamonds

##### Vendas_PBI

In [ ]:
Vendas_PBI = pd.read_excel("C:/Users/danil/OneDrive/Danilo_Back-up/Projetos_Pessoais/Canal_Youtube/Base_Dados/Vendas_PBI.xlsx")
Vendas_PBI

In [ ]:
sort(
    Vendas_PBI
        .groupby('Country')
        .agg(
            {
                'Sales' : 'sum',
                'COGS'  : 'sum'
            }
        ),
    desc
)

In [8]:
sort(
    Vendas_PBI.groupby('Segment')['Sales'].agg(
        Sales = 'sum'
    ),
    desc
)

                        Sales

Segment             <float64>
Channel Partners  52504260.68
Enterprise        42427918.50
Government        19611694.38
Midmarket          2381883.09
Small Business     1800593.64

In [66]:
a = [1,2,3]
f"{a: .2%}"

TypeError: unsupported format string passed to list.__format__

In [81]:
Profit_Products = Vendas_PBI.groupby(
        'Product'
    ).agg({
        'Sales' : 'sum',
        'COGS'  : 'sum',
        'Profit': 'sum'
    })
    
Profit_Products = Profit_Products.assign(
    Profit2 = Profit_Products['Profit'] / Profit_Products['Sales']
)

Profit_Products.assign(
    Profit2 = round( Profit_Products['Profit2'] * 100, 2 ).astype(str) + '%'
)

                 Sales        COGS      Profit  Profit2

Product      <float64>   <float64>   <float64> <object>
Amarilla   17747116.07  14933012.0  2814104.07   15.86%
Carretera  13815307.89  11988503.0  1826804.89   13.22%
Montana    15390801.88  13276047.0  2114754.88   13.74%
Paseo      33011143.96  28213706.0  4797437.96   14.53%
VTT        20511921.02  17477313.0  3034608.02   14.79%
Velo       18250059.47  15944067.0  2305992.47   12.64%

Ctas_a_Receber

In [ ]:
Ctas_Receber_DB = pd.read_excel("C:/Users/danil/OneDrive/Danilo_Back-up/Projetos_Pessoais/Canal_Youtube/Base_Dados/Ctas_Receber_DB.xlsx")
Ctas_Receber_DB

## <font style="font-family:impact">Análises</font>

#### <font style="font-family:consolas"><b>Dimensão dos Dados</b></font>

##### <font style="font-family:consolas"><b>Escalar</b></font>

In [5]:
CARS[0:1]['car_name'][0]

'Maruti Alto K10'

In [7]:
CARS[0:1]['car_name'].item()

'Maruti Alto K10'

In [8]:
CARS['car_name'][0]

'Maruti Alto K10'

In [9]:
np.array( CARS[['car_name']] )[0][0]

'Maruti Alto K10'

In [14]:
pd.array( CARS[['car_name']] )[0][0]

"['Maruti Alto K10']"

In [15]:
select(CARS, 'car_name').iloc[0].item()

'Maruti Alto K10'

In [16]:
sort( select(CARS, 'car_name') ).iloc[0].item()

'Aston Martin DBX'

In [17]:
CARS.columns.get_loc('fuel_type')

2

In [18]:
CARS.iloc[ 0, CARS.columns.get_loc('fuel_type') ]

'Petrol'

In [19]:
length( CARS['car_name'].unique() )

199

In [20]:
length( pd.unique( CARS['car_name'] ) )

199

In [22]:
min( CARS['fuel_tank_capacity'] )

0.0

##### Vetor

In [24]:
np.array( [1,2,3] )

array([1, 2, 3])

In [23]:
CARS['car_name'][0:5]

0       Maruti Alto K10
1         Maruti Brezza
2         Mahindra Thar
3       Mahindra XUV700
4    Mahindra Scorpio-N
Name: car_name, dtype: object

In [25]:
pd.array( CARS['car_name'][0:5] )

<PandasArray>
['Maruti Alto K10', 'Maruti Brezza', 'Mahindra Thar', 'Mahindra XUV700', 'Mahindra Scorpio-N']
Length: 5, dtype: object

In [26]:
np.array( CARS['car_name'][0:5] )

array(['Maruti Alto K10', 'Maruti Brezza', 'Mahindra Thar',
       'Mahindra XUV700', 'Mahindra Scorpio-N'], dtype=object)

In [27]:
sort( CARS['car_name'] )[0:5]

0        Aston Martin DBX
1    Aston Martin Vantage
2                 Audi A4
3                 Audi A6
4                 Audi Q2
Name: x, dtype: object

In [28]:
sort( np.array( CARS['car_name'] ) )[0:5]

array(['Aston Martin DBX', 'Aston Martin Vantage', 'Audi A4', 'Audi A6',
       'Audi Q2'], dtype=object)

##### Tabela

###### array / matrix

In [29]:
np.array(
    [
        [ 1 , 2 , 3 ],
        ['a','b','c']
    ]
)

array([['1', '2', '3'],
       ['a', 'b', 'c']], dtype='<U11')

In [30]:
np.array( CARS[ ['car_name', 'fuel_type', 'fuel_tank_capacity'] ][0:4] )

array([['Maruti Alto K10', 'Petrol', 27.0],
       ['Maruti Brezza', 'Petrol', 48.0],
       ['Mahindra Thar', 'Diesel', 57.0],
       ['Mahindra XUV700', 'Diesel', 60.0]], dtype=object)

###### Dataframe

In [31]:
CARS[ ['car_name', 'fuel_type', 'fuel_tank_capacity'] ][0:4]

          car_name fuel_type  fuel_tank_capacity
          <object>  <object>           <float64>
0  Maruti Alto K10    Petrol                27.0
1    Maruti Brezza    Petrol                48.0
2    Mahindra Thar    Diesel                57.0
3  Mahindra XUV700    Diesel                60.0

In [32]:
select( CARS[0:4], ['car_name', 'fuel_type', 'fuel_tank_capacity'] )

          car_name fuel_type  fuel_tank_capacity
          <object>  <object>           <float64>
0  Maruti Alto K10    Petrol                27.0
1    Maruti Brezza    Petrol                48.0
2    Mahindra Thar    Diesel                57.0
3  Mahindra XUV700    Diesel                60.0

In [33]:
pd.DataFrame(
    {
        'car_name'          : CARS['car_name'][0:4],
        'fuel_type'         : CARS['fuel_type'][0:4],
        'fuel_tank_capacity': CARS['fuel_tank_capacity'][0:4]
    }
)

          car_name fuel_type  fuel_tank_capacity
          <object>  <object>           <float64>
0  Maruti Alto K10    Petrol                27.0
1    Maruti Brezza    Petrol                48.0
2    Mahindra Thar    Diesel                57.0
3  Mahindra XUV700    Diesel                60.0

#### Tipos de Dados

##### Número

Escalar

In [69]:
print( 
    1,       " -> ", type( 1 ),     "\n",
    1.0,     " -> ", type( 1.0 ),   "\n",
    1 + 1,   " -> ", type( 1 + 1 ), "\n",
    2 * 2,   " -> ", type( 2 * 2 ), "\n",
    2 * 2.0, " -> ", type( 2 * 2.0 ) 
)

1  ->  <class 'int'>
 1.0  ->  <class 'float'>
 2  ->  <class 'int'>
 4  ->  <class 'int'>
 4.0  ->  <class 'float'>

In [70]:
print( 
    2 / 2,   " -> ", type( 2 / 2 ), "\n",
    1.0 + 1, " -> ", type( 1.0 + 1 ) 
)

1.0  ->  <class 'float'>
 2.0  ->  <class 'float'>

Vetor

In [76]:
n1 = [1  , 2  , 3  ] ;
n2 = [1.0, 2.0, 3.0] ;
n3 = [1.0, 2  , 3  ] ;

In [77]:
print(
    n1, " -> ", type(n1), "\n",
    n2, " -> ", type(n2), "\n",
    n3, " -> ", type(n3), "\n",
    n1 * 1, " -> ", type(n1 * 1)
)

[1, 2, 3]  ->  <class 'list'>
 [1.0, 2.0, 3.0]  ->  <class 'list'>
 [1.0, 2, 3]  ->  <class 'list'>
 [1, 2, 3]  ->  <class 'list'>

In [78]:
TesteDF = pd.DataFrame({
    'Vetor' : [1.0, 2, 3, np.NaN ],
})

TesteDF['Type'] = type( TesteDF['Vetor'][index] )

TesteDF['Type2'] = type( TesteDF['Type'] )

TesteDF

NameError: name 'index' is not defined

In [100]:
Vetor = [1.0, 2, 3, np.NaN, as_date("2022-01-01"), dtt.date(2022, 1, 1) ]

for Index in range( 0, len(Vetor) ):
    print( type(Vetor[Index]) )

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'datetime.date'>

##### Texto

##### Data

In [102]:
print(
    dtt.date( 2022, 1, 1 ) + relativedelta( day  = 1 ) + relativedelta( month  = 2 ), "\n",
    dtt.date( 2022, 1, 1 ) + relativedelta( days = 1 ) + relativedelta( months = 2 )
)

2022-02-01
 2022-03-02

In [ ]:
dtt.date( 1970, 1, 1 ) + relativedelta( days = 1 )

##### Lógico

In [108]:
print(
    True, TRUE, "\n",
    type(True), type(TRUE), "\n", "\n",
    False, FALSE, "\n",
    type(False), type(FALSE)
)

True True
 <class 'bool'> <class 'bool'>

 False False
 <class 'bool'> <class 'bool'>

##### Vazio

In [112]:
print(
    NaN, "\n",
    np.NaN, "\n",
    NaN == np.NaN
)

nan
 nan
 False

In [5]:
np.NaN + 1

nan

In [6]:
NaN + 1

nan

In [132]:
NaN is np.NaN

True

In [155]:
type( dtt.date(2022, 1, 1) )

datetime.date

In [156]:
DF_Vazio = pd.DataFrame({
    'Vazio': [NaN, "a", dtt.date(2022, 1, 1), 1, 1.0, np.NaN]
})

DF_Vazio.assign(
    Type = [type(i) for i in DF_Vazio['Vazio']]
)

        Vazio                     Type
     <object>                 <object>
0         NaN          <class 'float'>
1           a            <class 'str'>
2  2022-01-01  <class 'datetime.date'>
3           1            <class 'int'>
4         1.0          <class 'float'>
5         NaN          <class 'float'>

In [8]:
"casa" / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [6]:
TRUE + 1

2

In [143]:
print(
    pd.to_datetime('2023-01-01'),type( pd.to_datetime('2023-01-01') ), "\n",
    np.datetime64('2023-01-01'), type( np.datetime64('2023-01-01') ), "\n",
    dtt.date(2023, 1, 1),        type( dtt.date(2023, 1, 1) )
)

2023-01-01 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
 2023-01-01 <class 'numpy.datetime64'>
 2023-01-01 <class 'datetime.date'>

In [145]:
pd.to_datetime('2023-01-01') + 1

TypeError: Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [110]:
pd.to_datetime('2023-01-01') + pd.Timedelta( 1, 'D' ) + pd.DateOffset( months = 1 )

Timestamp('2023-02-02 00:00:00')

In [106]:
np.datetime64('2023-01-01') + 1

numpy.datetime64('2023-01-02')

In [ ]:
dtt.date(2023, 1, 1) + 1

In [33]:
dtt.date(2023, 1, 1) + dtt.timedelta( 10 )

datetime.date(2023, 1, 11)

In [39]:
[dtt.date(2023, 1, 1),dtt.date(2023, 1, 2),dtt.date(2023, 1, 3),dtt.date(2023, 1, 4)]

[datetime.date(2023, 1, 1),
 datetime.date(2023, 1, 2),
 datetime.date(2023, 1, 3),
 datetime.date(2023, 1, 4)]

In [37]:
np.datetime64(['2023-01-01','2023-01-02','2023-01-03','2023-01-04'])

ValueError: Could not convert object to NumPy datetime

In [113]:
pd.to_datetime(['2023-01-01','2023-01-02','2023-01-03','2023-01-04'])

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'], dtype='datetime64[ns]', freq=None)

In [114]:
pd.to_datetime(['2023-01-01','2023-01-02','2023-01-03','2023-01-04', np.NaN])

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', 'NaT'], dtype='datetime64[ns]', freq=None)

In [154]:
Tipos_de_Dados = pd.DataFrame({
    'Texto'   : ["a", "b", "c", "d", "e"],
    'Texto_'  : ["a", "b", "c", "d", NaN],

    'Número_Int'  : [1, 2, 3, 4, 5],
    'Número_Int_' : [1, 2, 3, 4, NaN],

    'Número_Virg'  : [1.0, 2.0, 3.0, 4.0, 5.0],
    'Número_Virg_' : [1.0, 2.0, 3.0, 4.0, NaN],

    'Data'    : pd.to_datetime(["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"]),
    'Data_'   : pd.to_datetime(["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", NaN]),

    'Lógico'  : [TRUE, FALSE, TRUE, FALSE, TRUE],
    'Lógico_' : [TRUE, FALSE, TRUE, FALSE, NaN]
})
Tipos_de_Dados

     Texto   Texto_  Número_Int  Número_Int_  Número_Virg  Número_Virg_             Data            Data_  Lógico  Lógico_
  <object> <object>     <int64>    <float64>    <float64>     <float64> <datetime64[ns]> <datetime64[ns]>  <bool> <object>
0        a        a           1          1.0          1.0           1.0       2023-01-01       2023-01-01    True     True
1        b        b           2          2.0          2.0           2.0       2023-01-02       2023-01-02   False    False
2        c        c           3          3.0          3.0           3.0       2023-01-03       2023-01-03    True     True
3        d        d           4          4.0          4.0           4.0       2023-01-04       2023-01-04   False    False
4        e      NaN           5          NaN          5.0           NaN       2023-01-05              NaT    True      NaN

In [155]:
Tipos_de_Dados['Número_Int'] == Tipos_de_Dados['Número_Int_']

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [156]:
[1, 2, 3, NaN] == [1, 2, 3, 4]

False

In [160]:
np.array([1, 2, 3, NaN]) == np.array([1, 2, 3, 4])

array([ True,  True,  True, False])

In [44]:
np.int64( np.datetime64('2023-01-01') )

19358

In [77]:
pd.to_datetime('2023-01-01').value / 1_000_000_000 / 60 / 60 / 24

19358.0

In [27]:
(dtt.date(2023, 1, 1 ) - dtt.date(1970, 1, 1 )).days

19358

In [28]:
print(
    pd.to_datetime('2023-01-01').value / 1_000_000_000 / 60 / 60 / 24,  "\n",
    np.int64( np.datetime64('2023-01-01') ),                            "\n",
    (dtt.date(2023, 1, 1 ) - dtt.date(1970, 1, 1 )).days
)

19358.0
 19358
 19358

## <font style="font-family:impact">Base Olist Brasil</font>

In [ ]:
olist_geolocation = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/Brasilian_Ecommerce_Olist/olist_geolocation_dataset.csv")
olist_geolocation

In [7]:
olist_geolocation_zip_code = unique(olist_geolocation['geolocation_zip_code_prefix'])
olist_geolocation_zip_code = olist_geolocation_zip_code.astype(str)

numpy.str_

In [14]:
olist_geolocation_zip_code2 = np.array([]).astype(str)

for i in range(0, length(olist_geolocation_zip_code), 1):
    olist_geolocation_zip_code2 = append(olist_geolocation_zip_code2, olist_geolocation_zip_code[i].zfill(5))

In [ ]:
olist_geolocation_zip_code2

In [5]:
olist_customers = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/Brasilian_Ecommerce_Olist/olist_customers_dataset.csv")
# olist_customers = olist_customers[ ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix'] ]
olist_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
,<object>,<object>,<int64>,<object>,<object>
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
...,...,...,...,...,...
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

## Rascunho

#### Ler texto de PDF

In [1]:
import easyocr

In [ ]:
reader = easyocr.Reader(['pt'])
results = reader.readtext('C:/Users/danil/Desktop/Scanner_20221116 (2).png')

In [ ]:
text = []
for result in range( 11, len(pd.DataFrame(results)[0:500][1]) ):
    print( pd.DataFrame(results)[0:500][1][result] )

In [ ]:
pd.DataFrame(results)[0:500][1][146]

In [ ]:
CARS.loc[
    CARS['no_cylinder'] > 10,                 # Filtro de Linhas
    ['car_name', 'fuel_type', 'no_cylinder']  # Filtro de Colunas
]

In [2]:
import ipywidgets as wg
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline

In [5]:
name = wg.Text (value = 'Name')
age = wg.IntSlider (description = 'Age: ')
box = wg.Box()
display (name, age, box)
print (name.value + ' is already '+ str (age.value) + ' now ')

Text(value='Name')

IntSlider(value=0, description='Age: ')

Box()

Name is already 0 now

## <h1 style="font-family:impact; background-color:#3C2A21; color:#D5CEA3; text-align:center">Endereço a partir do CEP</h1>

In [67]:
from pycep_correios import get_address_from_cep, WebService
import requests
import urllib.parse
from geopy.geocoders import Nominatim
import numpy as np
import pandas as pd
import datetime as dtt
import datar

In [3]:
address = get_address_from_cep('37503-130', webservice=WebService.APICEP)

In [5]:
address = get_address_from_cep('37503-130', webservice=WebService.VIACEP)

In [73]:
address = get_address_from_cep('09812-480', webservice=WebService.CORREIOS)

In [52]:
address

{'bairro': 'Jardim Barão',
 'cep': '14409000',
 'cidade': 'Franca',
 'logradouro': 'Rua Jonas Rodrigues de Moura',
 'uf': 'SP',
 'complemento': None}

In [19]:
pd.DataFrame({
    'keys'   : list( address.keys() ),
    'values' : list( address.values() )
})

          keys                            values
      <object>                          <object>
0       bairro                       Cooperativa
1          cep                          09852060
2       cidade             São Bernardo do Campo
3   logradouro  Estrada Particular Fukutaro Yida
4           uf                                SP
5  complemento                              None

In [2]:
address = get_address_from_cep('09852-060', webservice=WebService.CORREIOS)

Tabela_Endereco = pd.DataFrame({
    'Bairro'     : address['bairro'],
    'Cep'        : address['cep'],
    'Cidade'     : address['cidade'],
    'Logradouro' : address['logradouro'],
    'UF'         : address['uf'],
    'Complemento': address['complemento']
}, index = [0])

Tabela_Endereco = Tabela_Endereco.assign(
    Latitude = requests.get(
        'https://nominatim.openstreetmap.org/search/' 
        + urllib.parse.quote( f"{Tabela_Endereco['Cidade'][0]}{', '}{Tabela_Endereco['UF'][0]}" ) 
        + '?format=json'
    ).json()[0]["lat"],
    
    Longitude = requests.get(
        'https://nominatim.openstreetmap.org/search/' 
        + urllib.parse.quote( f"{Tabela_Endereco['Cidade'][0]}{', '}{Tabela_Endereco['UF'][0]}" ) 
        + '?format=json'
    ).json()[0]["lon"]
)

Tabela_Endereco

,Bairro,Cep,Cidade,Logradouro,UF,Complemento,Latitude,Longitude
,<object>,<object>,<object>,<object>,<object>,<object>,<object>,<object>
0,Cooperativa,09852060,São Bernardo do Campo,Estrada Particular Fukutaro Yida,SP,None,-23.7080345,-46.5506747

In [4]:
olist_customers = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/Brasilian_Ecommerce_Olist/olist_customers_dataset.csv")
olist_customers = olist_customers[ ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix'] ]
olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[0]

'14409'

In [102]:
olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[26]

'74310'

In [106]:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[26] + '-000', 
        webservice = WebService.CORREIOS
    )
    address

{'bairro': '',
 'cep': '',
 'cidade': '',
 'logradouro': '',
 'uf': '',
 'complemento': ''}

In [110]:
_CEP_Cliente_ = 26

try:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-000', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-010', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-020', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-030', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-100', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-110', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-120', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-130', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-200', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-210', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-220', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-230', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-300', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-310', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-320', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-330', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-400', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-410', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-420', 
        webservice = WebService.CORREIOS
    )
except NameError:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-430', 
        webservice = WebService.CORREIOS
    )
except:
    address = get_address_from_cep(
        olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-510', 
        webservice = WebService.CORREIOS
    )

Tabela_Endereco__ = pd.DataFrame({
    'Bairro'     : address['bairro'],
    'Cep'        : address['cep'],
    'Cidade'     : address['cidade'],
    'Logradouro' : address['logradouro'],
    'UF'         : address['uf'],
    'Complemento': address['complemento']
}, index = [0])

Tabela_Endereco__

    Bairro      Cep   Cidade Logradouro       UF Complemento
  <object> <object> <object>   <object> <object>    <object>
0

In [98]:
Tabela_Endereco = pd.DataFrame([])
# for _CEP_Cliente_ in range(0, len( olist_customers['customer_zip_code_prefix'] ), 1):
for _CEP_Cliente_ in range(0, 25, 1):

    try:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-000', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-010', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-020', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-030', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-100', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-110', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-120', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-130', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-200', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-210', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-220', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-230', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-300', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-310', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-320', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-330', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-400', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-410', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-420', 
            webservice = WebService.CORREIOS
        )
    except NameError:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-430', 
            webservice = WebService.CORREIOS
        )
    except:
        address = get_address_from_cep(
            olist_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)[_CEP_Cliente_] + '-510', 
            webservice = WebService.CORREIOS
        )
    Tabela_Endereco__ = pd.DataFrame({
        'Bairro'     : address['bairro'],
        'Cep'        : address['cep'],
        'Cidade'     : address['cidade'],
        'Logradouro' : address['logradouro'],
        'UF'         : address['uf'],
        'Complemento': address['complemento']
    }, index = [0])
    # Tabela_Endereco__ = Tabela_Endereco__.assign(
    #     Latitude = requests.get(
    #         'https://nominatim.openstreetmap.org/search/' 
    #         + urllib.parse.quote( f"{Tabela_Endereco__['Cidade'][0]}{', '}{Tabela_Endereco__['UF'][0]}" ) 
    #         + '?format=json'
    #     ).json()[0]["lat"],
    #     Longitude = requests.get(
    #         'https://nominatim.openstreetmap.org/search/' 
    #         + urllib.parse.quote( f"{Tabela_Endereco__['Cidade'][0]}{', '}{Tabela_Endereco__['UF'][0]}" ) 
    #         + '?format=json'
    #     ).json()[0]["lon"]
    # )
    Tabela_Endereco = pd.concat( [Tabela_Endereco, Tabela_Endereco__] )

In [99]:
Tabela_Endereco

,Bairro,Cep,Cidade,Logradouro,UF,Complemento
,<object>,<object>,<object>,<object>,<object>,<object>
0,Jardim Barão,14409000,Franca,Rua Jonas Rodrigues de Moura,SP,None
0,Ferrazópolis,09790000,São Bernardo do Campo,Avenida Albert Schweitzer,SP,None
0,Barra Funda,01151000,São Paulo,Rua Brigadeiro Galvão,SP,None
0,Jardim Rodeio,08775000,Mogi das Cruzes,Avenida Lothar Waldemar Hoehne,SP,None
0,,,,,,
0,Chico de Paulo,89254000,Jaraguá do Sul,Rua Erwino Menegotti,SC,- até 478/479
0,Itaim Bibi,04534000,São Paulo,Rua Joaquim Floriano,SP,- até 110 - lado par
0,Centro Sul,35182000,Timóteo,Avenida São João,MG,- de 792/793 a 1290/1291
0,Uberaba,81560000,Curitiba,Avenida Comendador Franco,PR,- de 5011/5012 a 7264/7265
0,Havaí,30575000,Belo Horizonte,Avenida Costa do Marfim,MG,None
0,,,,,,
0,Centro,20231000,Rio de Janeiro,Rua do Senado,RJ,- até 88/089
0,Centro,18682000,Lençóis Paulista,Avenida Nove de Julho,SP,- de 0522/523 a 1080/1081
0,,,,,,
0,Desvio Rizzo,95110000,Caxias do Sul,Avenida Alexandre Rizzo,RS,None
0,Jardim Primavera,13412000,Piracicaba,Rodovia Fausto Santomauro,SP,"(SP-127) - do km 29,000 ao km 32,999"
0,Anil,22750000,Rio de Janeiro,Rua Aldo Rangel de Carvalho,RJ,None
0,Portal dos Gramados,07124000,Guarulhos,Avenida Benjamin Harris Hunnicutt,SP,- de 1752 ao fim - lado par
0,Pinheiros,05416000,São Paulo,Rua Fradique Coutinho,SP,- até 636 - lado par
0,None,68485000,Pacajá,None,PA,None
0,Itacorubi,88034000,Florianópolis,Rodovia Admar Gonzaga,SC,- até 2024/2025
0,Jardim Maria Inês,74914510,Aparecida de Goiânia,Rua dos Rouxinóis,GO,None
0,,,,,,
0,Bairro Alto,82820000,Curitiba,Rua José Veríssimo,PR,None
0,Vila Regina ( Zona Leste),08225000,São Paulo,Rua Catarina Lopes,SP,None

## <h1 style="font-family:impact; background-color:#3C2A21; color:#D5CEA3; text-align:center">Lat e Long a partir do ENDEREÇO</h1>

### <font style="font-family:impact">Bibliotecas</font>

In [15]:
# import requests
# import urllib.parse
from geopy.geocoders import Nominatim
import numpy as np
import pandas as pd
import datetime as dtt
import datar

### <font style="font-family:impact">Carregar base de Estado e Cidade dos Clientes</font>

In [18]:
olist_customers = pd.read_csv("C:/Users/danil/OneDrive/Danilo_Back-up/Kaggle/Brasilian_Ecommerce_Olist/olist_customers_dataset.csv")
olist_customers[0:5]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
,<object>,<object>,<int64>,<object>,<object>
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [19]:
olist_customers = olist_customers.assign(
    customer_state_city = olist_customers['customer_state'] + ', ' + olist_customers['customer_city']
)
olist_customers[0:5]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_state_city
,<object>,<object>,<int64>,<object>,<object>,<object>
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,"SP, franca"
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,"SP, sao bernardo do campo"
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,"SP, sao paulo"
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,"SP, mogi das cruzes"
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,"SP, campinas"

In [20]:
print(
    olist_customers['customer_state_city'].unique().size,
    olist_customers['customer_state_city'].unique()
)

4310 ['SP, franca' 'SP, sao bernardo do campo' 'SP, sao paulo' ...
 'RS, monte bonito' 'RN, sao rafael' 'RS, eugenio de castro']

In [21]:
customer_lat_lon = pd.DataFrame({
    'customer_state_city' : olist_customers['customer_state_city'].unique()
})
customer_lat_lon

            customer_state_city
                       <object>
0                    SP, franca
1     SP, sao bernardo do campo
2                 SP, sao paulo
3           SP, mogi das cruzes
...                         ...
4                  SP, campinas
4305                 PE, siriji
4306    SP, natividade da serra
4307           RS, monte bonito
4308             RN, sao rafael
4309      RS, eugenio de castro

[4310 rows x 1 columns]

### <font style="font-family:impact">Adicionar Latitude e Longitude</font>

In [22]:
app = Nominatim(user_agent="tutorial")
app

In [24]:
location = app.geocode( customer_lat_lon['customer_state_city'][50] ).raw
print(
    location['lat'],
    location['lon']
)

-25.5861107 -49.4051209

In [25]:
customer_lat__ = np.array([])
customer_lon__ = np.array([])

for _UF_Cidade_ in range(0, 10, 1):
    customer_lat__ = np.append(
        customer_lat__,
        float( app.geocode( customer_lat_lon['customer_state_city'][_UF_Cidade_] ).raw['lat'] )
    )
    customer_lon__ = np.append(
        customer_lon__,
        float( app.geocode( customer_lat_lon['customer_state_city'][_UF_Cidade_] ).raw['lon'] )
    )


customer_lat_lon = pd.DataFrame({
    'customer_state_city' : customer_lat_lon['customer_state_city'][0:10],
    'customer_lat'        : customer_lat__,
    'customer_lon'        : customer_lon__
})

In [26]:
customer_lat_lon

         customer_state_city  customer_lat  customer_lon
                    <object>     <float64>     <float64>
0                 SP, franca    -20.538177    -47.400979
1  SP, sao bernardo do campo    -23.708035    -46.550675
2              SP, sao paulo    -23.550651    -46.633382
3        SP, mogi das cruzes    -23.523428    -46.192667
4               SP, campinas    -22.905560    -47.060830
5         SC, jaragua do sul    -26.489743    -49.077806
6                MG, timoteo    -19.577140    -42.643611
7               PR, curitiba    -25.429596    -49.271272
8         MG, belo horizonte    -19.922578    -43.945136
9          MG, montes claros    -16.727354    -43.871768

### <font style="font-family:impact">Rascunho</font>

In [64]:
address = 'Shivaji Nagar, Bangalore, KA 560001'

In [163]:
requests.get(
    'https://nominatim.openstreetmap.org/search/' 
    + urllib.parse.quote( f"{Tabela_Endereco['Cidade'][0]}{', '}{Tabela_Endereco['UF'][0]}" ) 
    + '?format=json'
).json()[0]["lat"]

'-23.7080345'

In [37]:
url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

response = requests.get(url).json()
print(response[0]["lat"])
print(response[0]["lon"])

-23.7080345
-46.5506747

In [6]:
app = Nominatim(user_agent="tutorial")

In [9]:
location = app.geocode(f"{olist_customers['customer_state'][0]}{', '}{olist_customers['customer_city'][0]}").raw

In [10]:
location

{'place_id': 348562037,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 298530,
 'boundingbox': ['-20.7735077', '-20.4158594', '-47.5525278', '-47.145582'],
 'lat': '-20.5381768',
 'lon': '-47.4009795',
 'display_name': 'Franca, Região Imediata de Franca, Região Geográfica Intermediária de Ribeirão Preto, São Paulo, Região Sudeste, Brasil',
 'class': 'boundary',
 'type': 'administrative',
 'importance': 0.6292545964617828,
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png'}

In [11]:
print(
location['lat'],
location['lon']
)

-20.5381768 -47.4009795

## <h1 style="font-family:impact; background-color:#3C2A21; color:#D5CEA3; text-align:center">Teste de Velocidade</h1>

In [32]:
lat1 = np.array([])
lat2 = np.array([])
lon1 = np.array([])
lon2 = np.array([])

for x in range(0, 200_000, 1):
    lat1 = np.append( lat1, (random.random() * 120) - 60 )
    lat2 = np.append( lat2, (random.random() * 120) - 60 )
    lon1 = np.append( lon1, (random.random() * 240) -120 )
    lon2 = np.append( lon2, (random.random() * 240) -120 )
# end

teste = pd.DataFrame({
    'lat_1' : lat1,
    'lat_2' : lat2,
    'lon_1' : lon1,
    'lon_2' : lon2,
    'distancia' : 2 * 6378.1 * np.arcsin( 
        np.sqrt( np.abs(
            sin( ( np.radians(lat1) - np.radians(lat2) ) / 2 )**2 +
            cos( np.radians(lon1) ) * cos( np.radians(lon2) ) *
            sin( ( np.radians(lon1) - np.radians(lon2) ) / 2 )**2
        ) )
    )
})
teste
gc.collect()

0

In [ ]:
t100000 = [19.6, 15.8]

t200000 = [4m 38.7]

## <h1 style="font-family:impact; background-color:#3C2A21; color:#D5CEA3; text-align:center">Matemática Financeira</h1>

In [61]:
import pandas as pd
import numpy as np
import datetime as dtt
from datar import f
from datar.all import *

<font size = 6 style="font-family:impact">Fómulas Financeiras</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ FV = PV \times (1 + i)^n$</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ PV = \frac{FV}{(1 + i)^n}$</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ Juros = PV \times (1 + i)^n -PV$</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ i\ =\ (\frac{FV}{PV})^{\frac{1}{n}} -1$</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ n\ =\ \frac{log_{(1+i)}}{log_{\frac{FV}{PV}}}$</font><br><br>
<font size = 4 style="color:#D5CEA3">$\ \ \ \ PMT\ =\ PV\ \times\ \frac{i}{1 - (1 + i)^{-n}}$</font><br><br>
<a href="https://pt.wikipedia.org/wiki/Tabela_Price"><font style="font-family:consolas; color:pink">Wikipedia: Tabela PRICE</font></a><br>
<a href="https://pt.wikipedia.org/wiki/Sistema_de_amortiza%C3%A7%C3%A3o_constante"><font style="font-family:consolas; color:pink">Wikipedia: Tabela SAC</font></a>

In [62]:
Cadastro = pd.read_excel(
    "C:/Users/danil/OneDrive/Danilo_Back-up/Projetos_Pessoais/Canal_Youtube/Excel/Matematica_Financeira.xlsx", 
    sheet_name = "Cadastro"
)
Cadastro[Cadastro['Modelo'] == "PRICE"][0:5]

   Contrato  Principal   Taxa_am  Parcelas   Modelo     Data_Emissao
    <int64>    <int64> <float64>   <int64> <object> <datetime64[ns]>
2         3     110000  0.017606        24    PRICE       2020-02-12
5         6    1340000  0.012373        42    PRICE       2020-02-27
6         7     580000  0.014282        42    PRICE       2020-02-27
7         8    1690000  0.014350        18    PRICE       2020-03-10
8         9      80000  0.016253        36    PRICE       2020-03-16

##### <p style="font-family:impact; background-color:#3C2A21"><font size=6>Modelo PRICE</font></p>

<font size=5 style = "font-family: impact; color: lightblue">Estratégia</font>
<p style = "font-family: consolas">
1. Gerar valores iniciais de cada variável (primeira parcela)<br>
2. Gerar valores a partir da segunda parcela até a última<br>
3. Armazenar vetor das parcelas dois até a última junto com a primeira<br>
4. Armazenar vetores de cada contrato<br>
5. Gerar Tabela (DataFrame) com vetores de cada variável armazenados
</p>

In [4]:
Cadastro_PRICE = Cadastro[ Cadastro['Modelo'] == "PRICE" ]

# vetores que serão abastecidos com cada contrato 
# o valor adicionado serve para que os vetores tenham o tipo de dados correto
Contrato__  = [0]
Parcela__   = [0]
Data_Venc__ = [ Cadastro_PRICE['Data_Emissao'][0] ]
PMT__       = [0.0]
Juros__     = [0.0]
Amort__     = [0.0]
PV_atual__  = [0.0]


for _contrato_ in range(0, length(Cadastro_PRICE['Contrato']), 1):

    # valores gerados entre "[]" são os vetores que serão abastecidos adiante
    # 1. Gerar valores iniciais de cada variável (primeira parcela)
    Data_Emi =  Cadastro_PRICE['Data_Emissao'].iloc[_contrato_]
    Contrato = [Cadastro_PRICE['Contrato'    ].iloc[_contrato_]]
    PV       = [Cadastro_PRICE['Principal'   ].iloc[_contrato_]]
    n        =  Cadastro_PRICE['Parcelas'    ].iloc[_contrato_]
    i_am     =  Cadastro_PRICE['Taxa_am'     ].iloc[_contrato_]
    
    Data_Venc = [
        if_else(
            pd.Timestamp.weekday(Data_Emi + pd.DateOffset(months = 1)) == 5,
            Data_Emi + pd.DateOffset(months = 1) + pd.DateOffset(days = 2),
            if_else(
                pd.Timestamp.weekday(Data_Emi + pd.DateOffset(months = 1)) == 6,
                Data_Emi + pd.DateOffset(months = 1) + pd.DateOffset(days = 1),
                Data_Emi + pd.DateOffset(months = 1)
            )
        )[0]
    ]
    
    i_ad = ((1 + i_am) / 1)**(1 / (365.25/12)) -1 # fórmula da taxa (i)
    PMT  = round([
        PV[0] * i_am / (1 - (1 + i_am)**(-n)) # fórmula do PMT
    ], 2)
    Juros = [ # fórmula do Juros
        + PV[0]
        * (1 + i_ad)**((Data_Venc[0] - Data_Emi).days)
        - PV[0]
    ]
    Amort     = [PMT[0] - Juros[0]]
    PV_atual  = [PV[0], PV[0] - Amort[0]]
    PV_atual2 = [PV[0] - Amort[0]]
    Parcela   = [1]
    
    # 2. Gerar valores a partir da segunda parcela até a última
    # 3. Armazenar vetor das parcelas dois até a última junto com a primeira
    for _parcela_ in range(1, n, 1):
        Contrato  = append(Contrato, Contrato[_parcela_ -1])
        Parcela   = append(Parcela, _parcela_ +1)
        Data_Venc = append(
            Data_Venc, 
            if_else(
                pd.Timestamp.weekday( Data_Emi + pd.DateOffset(months = _parcela_ +1)) == 5,
                Data_Emi + pd.DateOffset(months = _parcela_ +1) + pd.DateOffset(days = 2),
                if_else(
                    pd.Timestamp.weekday( Data_Emi + pd.DateOffset(months = _parcela_ +1)) == 6,
                    Data_Emi + pd.DateOffset(months = _parcela_ +1) + pd.DateOffset(days = 1),
                    Data_Emi + pd.DateOffset(months = _parcela_ +1)
                )
            )[0]
        )
        PMT   = append(PMT, PMT[_parcela_ -1])
        Juros = append(
            Juros, 
            + PV_atual[_parcela_]
            * (1 + i_ad)**((Data_Venc[_parcela_] - Data_Venc[_parcela_ -1]).days)
            - PV_atual[_parcela_]
        )
        Amort     = append(Amort,     PMT[_parcela_]      - Juros[_parcela_])
        PV_atual  = append(PV_atual,  PV_atual[_parcela_] - Amort[_parcela_])
        PV_atual2 = append(PV_atual2, PV_atual[_parcela_] - Amort[_parcela_])
    # end
    
    # 4. Armazenar vetores de cada contrato
    Contrato__  = append(Contrato__,  Contrato)
    Parcela__   = append(Parcela__,   Parcela)
    Data_Venc__ = append(Data_Venc__, Data_Venc)
    PMT__       = append(PMT__,       PMT)
    Juros__     = append(Juros__,     Juros)
    Amort__     = append(Amort__,     Amort)
    PV_atual__  = append(PV_atual__,  PV_atual2)
# end 


# 5. Gerar Tabela (DataFrame) com vetores de cada variável armazenados
Tabela_PRICE = pd.DataFrame({
    'Contrato' : Contrato__[1:],
    'Parcela'  : Parcela__[1:],
    'Data_Venc': Data_Venc__[1:],
    'PMT'      : PMT__[1:],
    'Juros'    : Juros__[1:].round(2),
    'Amort'    : Amort__[1:].round(2),
    'PV_atual' : PV_atual__[1:].round(2)
})

In [ ]:
Tabela_PRICE[ Tabela_PRICE['Contrato'] == 3 ]

In [27]:
length( unique( Tabela_PRICE['Contrato'] ) )

134

##### <p style="font-family:impact; background-color:#3C2A21"><font size=6>Modelo SAC</font></p>

<font size=5 style = "font-family: impact; color:lightblue">Estratégia</font>
<p style = "font-family: consolas">
1. Gerar tabela de cada contrato<br>
2. Armazenar cada tabela gerada
</p>

In [63]:
Tabela_SAC = pd.DataFrame([])
Cadastro_SAC = Cadastro[ Cadastro['Modelo'] == "SAC" ]


for _contrato_ in range(0, length(Cadastro_SAC['Contrato']), 1):
    
    i_ad = ((1 + Cadastro_SAC['Taxa_am'].iloc[_contrato_]) / 1)**(1 / (365.25/12)) -1
    
    # 1. Gerar tabela de cada contrato com o número das parcelas e as datas de vencimento
    Tabela_SAC__ = pd.DataFrame({
        'Contrato' : Cadastro_SAC['Contrato'].iloc[_contrato_],
        'Parcela'  : list( range(1, Cadastro_SAC['Parcelas'].iloc[_contrato_] +1, 1) ),
        
        'Data_Venc_ant' : pd.date_range(
            start   = Cadastro_SAC['Data_Emissao'].iloc[_contrato_] - pd.DateOffset(month = 1), 
            periods = Cadastro_SAC['Parcelas'    ].iloc[_contrato_],
            freq    = 'M'
        ) + pd.DateOffset(days = Cadastro_SAC['Data_Emissao'].iloc[_contrato_].day),
        
        'Data_Venc' : pd.date_range(
            start   = Cadastro_SAC['Data_Emissao'].iloc[_contrato_], 
            periods = Cadastro_SAC['Parcelas'    ].iloc[_contrato_],
            freq    = 'M'
        ) + pd.DateOffset(days = Cadastro_SAC['Data_Emissao'].iloc[_contrato_].day),
        
        'Amort' : Cadastro_SAC['Principal'].iloc[_contrato_] / Cadastro_SAC['Parcelas'].iloc[_contrato_]
    })
    
    Tabela_SAC__ = Tabela_SAC__.assign(
        Data_Venc_ant = 
            np.where( 
                Tabela_SAC__['Data_Venc_ant'].dt.dayofweek == 5, 
                Tabela_SAC__['Data_Venc_ant'] + pd.DateOffset(days = 2),
                np.where( 
                    Tabela_SAC__['Data_Venc_ant'].dt.dayofweek == 6,
                    Tabela_SAC__['Data_Venc_ant'] + pd.DateOffset(days = 1),
                    Tabela_SAC__['Data_Venc_ant']
                )
            ),
        Data_Venc = 
            np.where( 
                Tabela_SAC__['Data_Venc'].dt.dayofweek == 5, 
                Tabela_SAC__['Data_Venc'] + pd.DateOffset(days = 2),
                np.where( 
                    Tabela_SAC__['Data_Venc'].dt.dayofweek == 6,
                    Tabela_SAC__['Data_Venc'] + pd.DateOffset(days = 1),
                    Tabela_SAC__['Data_Venc']
                )
            ),
        Juros = -(
            - Cadastro_SAC['Principal'].iloc[_contrato_]
            + Cadastro_SAC['Principal'].iloc[_contrato_] / Cadastro_SAC['Parcelas'].iloc[_contrato_] * (Tabela_SAC__['Parcela'] -1)
        )
            * (1 + i_ad)**(( Tabela_SAC__['Data_Venc'] - Tabela_SAC__['Data_Venc_ant'] ).dt.days)
            
            - Cadastro_SAC['Principal'].iloc[_contrato_]
            + Cadastro_SAC['Principal'].iloc[_contrato_] / Cadastro_SAC['Parcelas'].iloc[_contrato_] * (Tabela_SAC__['Parcela'] -1)
    )
    
    Tabela_SAC__ = Tabela_SAC__.assign(
        PMT      = round( Tabela_SAC__['Amort'] + Tabela_SAC__['Juros'], 2 ),
        PV_atual = round( Cadastro_SAC['Principal'].iloc[_contrato_] - Tabela_SAC__['Amort'] * Tabela_SAC__['Parcela'], 2),
        
        Amort    = Tabela_SAC__['Amort'].round(2),
        Juros    = Tabela_SAC__['Juros'].round(2)
    )
    
    # 2. Armazenar cada tabela gerada
    Tabela_SAC = pd.concat([ 
        Tabela_SAC, 
        Tabela_SAC__[ ['Contrato', 'Parcela', 'Data_Venc', 'PMT', 'Juros', 'Amort', 'PV_atual'] ] 
    ])

In [64]:
Tabela_SAC[ Tabela_SAC['Contrato'] == 2 ]

,Contrato,Parcela,Data_Venc,PMT,Juros,Amort,PV_atual
,<int64>,<int64>,<datetime64[ns]>,<float64>,<float64>,<float64>,<float64>
0,2,1,2020-03-11,37843.32,13468.32,24375.0,1145625.0
1,2,2,2020-04-13,38477.81,14102.81,24375.0,1121250.0
2,2,3,2020-05-11,37729.85,13354.85,24375.0,1096875.0
3,2,4,2020-06-11,37877.69,13502.69,24375.0,1072500.0
4,2,5,2020-07-13,37149.21,12774.21,24375.0,1048125.0
5,2,6,2020-08-11,37277.57,12902.57,24375.0,1023750.0
6,2,7,2020-09-11,36977.51,12602.51,24375.0,999375.0
7,2,8,2020-10-12,36278.24,11903.24,24375.0,975000.0
8,2,9,2020-11-11,36377.39,12002.39,24375.0,950625.0
9,2,10,2020-12-11,35697.59,11322.59,24375.0,926250.0
10,2,11,2021-01-11,35777.27,11402.27,24375.0,901875.0
11,2,12,2021-02-11,35477.21,11102.21,24375.0,877500.0
12,2,13,2021-03-11,34125.99,9750.99,24375.0,853125.0
13,2,14,2021-04-12,34877.09,10502.09,24375.0,828750.0
14,2,15,2021-05-11,34245.98,9870.98,24375.0,804375.0
15,2,16,2021-06-11,34276.97,9901.97,24375.0,780000.0
16,2,17,2021-07-12,33665.33,9290.33,24375.0,755625.0
17,2,18,2021-08-11,33676.85,9301.85,24375.0,731250.0
18,2,19,2021-09-13,33376.79,9001.79,24375.0,706875.0
19,2,20,2021-10-11,32794.36,8419.36,24375.0,682500.0
20,2,21,2021-11-11,32776.67,8401.67,24375.0,658125.0
21,2,22,2021-12-13,32213.72,7838.72,24375.0,633750.0
22,2,23,2022-01-11,32176.55,7801.55,24375.0,609375.0
23,2,24,2022-02-11,31876.49,7501.49,24375.0,585000.0
24,2,25,2022-03-11,30875.66,6500.66,24375.0,560625.0
25,2,26,2022-04-11,31276.37,6901.37,24375.0,536250.0
26,2,27,2022-05-11,30762.10,6387.10,24375.0,511875.0
27,2,28,2022-06-13,30676.25,6301.25,24375.0,487500.0
28,2,29,2022-07-11,30181.46,5806.46,24375.0,463125.0
29,2,30,2022-08-11,30076.13,5701.13,24375.0,438750.0
30,2,31,2022-09-12,29776.07,5401.07,24375.0,414375.0
31,2,32,2022-10-11,29310.49,4935.49,24375.0,390000.0
32,2,33,2022-11-11,29175.95,4800.95,24375.0,365625.0
33,2,34,2022-12-12,28729.84,4354.84,24375.0,341250.0
34,2,35,2023-01-11,28575.84,4200.84,24375.0,316875.0
35,2,36,2023-02-13,28275.78,3900.78,24375.0,292500.0
36,2,37,2023-03-13,27625.33,3250.33,24375.0,268125.0
37,2,38,2023-04-11,27675.66,3300.66,24375.0,243750.0
38,2,39,2023-05-11,27278.23,2903.23,24375.0,219375.0
39,2,40,2023-06-12,27075.54,2700.54,24375.0,195000.0
40,2,41,2023-07-11,26697.58,2322.58,24375.0,170625.0
41,2,42,2023-08-11,26475.42,2100.42,24375.0,146250.0
42,2,43,2023-09-11,26175.36,1800.36,24375.0,121875.0
43,2,44,2023-10-11,25826.61,1451.61,24375.0,97500.0
44,2,45,2023-11-13,25575.24,1200.24,24375.0,73125.0
45,2,46,2023-12-11,25245.97,870.97,24375.0,48750.0
46,2,47,2024-01-11,24975.12,600.12,24375.0,24375.0
47,2,48,2024-02-12,24675.06,300.06,24375.0,0.0

In [65]:
length(Tabela_SAC)

Contrato     1902
Parcela      1902
Data_Venc    1902
PMT          1902
Juros        1902
Amort        1902
PV_atual     1902
dtype: int64

##### <font size=5 style="font-family:impact; background-color:#3C2A21">Concatenar Tabelas PRICE e SAC</font>

In [6]:
Tabela_Geral = pd.concat([ 
    Tabela_PRICE.assign( Modelo = "PRICE" ),
    Tabela_SAC.assign( Modelo = "SAC" )
] )
unique(Tabela_Geral['Contrato']).size

200

<b><font size=4 style = "font-family: consolas">Exportar para CSV</font></b>

In [7]:
Tabela_Geral.to_csv(
    'C:/Users/danil/OneDrive/Danilo_Back-up/Projetos_Pessoais/Canal_Youtube/Base_Dados/Tabelas_PRICE_SAC.csv'
)